html { font-size: 100%; }

@font-face {
    font-family: 'Opendyslexicbold';
    src: url('../assets/fonts/OpendyslexicBold-9Yo9n.otf') format('opentype');
}



/* Modal and Problem Title Fonts */
#instructions-container h1, .modal-box h2, .problem-title {
    font-family: 'Press Start 2P', system-ui !important;
}
